* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-image: url(../assets/img/coctel-decoracion-generativa-lima-limon-fresa-ai.jpg);
    width: 100%;
    height: 70vh;
    background-size: cover;
}

body {
    background-color: #2c2a2a;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    overflow-x: hidden;
}

/*===========================================*/

/*NAV BAR*/

.nav-bar {
    background-color: rgba(12, 12, 12, 0.548);
}

.menu-bar {
    list-style: none;
    font-size: 1.7rem;
}

.menu-bar li a {
    color: white;
    text-decoration: none;
}

/*============================================*/

/*seccion principal*/

h1 {
    background-color: rgb(122, 2, 2);
    color: white;
    text-align: center;
    padding: 2.5rem;
    font-size: 2.6rem;
}

.galeria-inicio p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.875rem;
    padding: 1.25rem;
    margin-top: 1.25rem;
    color: white;
}

.bebidas img {
    width: 400px;
    margin: 0px 10px;
}

/*============================================*/

/*seccion contacto*/

.contacto {
    background-color: white;
    width: 600px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.gmail-contacto {
    font-size: 1.2rem;
    padding-top: 1.875rem;
}

.wpp-contacto {
    font-size: 1.2rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

/*============================================*/

/*footer*/

footer {
    background-color: black;
    color: white;
}

.img-btr {
    width: 250px;
    height: 230px;
}

.derechos {
    text-align: center;
}

.footer-contenido {
    display: flex;
    justify-content: space-around;
}

.redes {
    padding-top: 20px;
    margin-top: auto;
}

.img-btr {
    margin-top: auto;
}

/*============================================*/

/*****************TRAGOS - SHOTS - SIN ALCOHOL********************/

.card-tragos {
    width: 300px;
    border-radius: 5px;
    background: #1a2a6c; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to bottom,
        #1e78ff,
        #d02b98,
        #d6c42b
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        #1e78ff,
        #d02b98,
        #d6c42b
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
    margin-top: 40px;
    color: white;
    height: auto;
}

.tragos-img img {
    border-radius: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.titulo {
    font-size: 2rem;
    background-color: rgb(0, 0, 0);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.descripcion {
    font-size: 1rem;
    padding-bottom: 20px;
}

.receta li {
    list-style: inside;
    text-align: left;
    padding-left: 10px;
}
/*============================================*/

/*****************Sobre nosotros********************/

.sobre-nosotros {
    padding: 20px;
    text-align: center;
    background-color: white;
    width: 30%;
    margin: 0 auto;
    font-size: 2rem;
    margin-top: 50px;
    border-radius: 10px;
    height: auto;
}

.img-preparacion figure img {
    padding-top: 50px;
    border-radius: 100px;
}

.img-preparacion {
    text-align: center;
}

.bg-body-tertiary {
    opacity: 0.7;
    background-color: rgb(24, 23, 23) !important;
}

.nav-link {
    color: white;
}

.nav-link .active {
    color: white;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-toggler {
    background-color: white;
}

/*PAGINA TRAGOS*/

.galeria-tragos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 70px;
    flex-wrap: wrap;
    margin: 50px 0px;
}

/*============================================*/

/***************** RESPONSIVE ********************/

/*============================================*/

@media (max-width: 1920px) {
    html {
        overflow-x: hidden;
    }

    body {
        width: 100%;
    }
    .galeria-inicio {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .contacto {
        margin: 2.5rem auto;
    }

    .bebidas img {
        width: 300px;
    }

    .footer-contenido {
        display: flex;
        justify-content: space-between;
    }

    .redes {
        margin-top: auto;
    }

    .img-btr {
        margin-top: auto;
    }
}

@media (max-width: 1025px) {
    html {
        overflow-x: hidden;
    }

    body {
        width: 100%;
    }
}

/*****************MEDIDAS DESKTOP 1024PX********************/
@media (max-width: 1024px) {
    html {
        overflow-x: hidden;
    }

    body {
        width: 100%;
    }

    .galeria-inicio {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .contacto {
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        margin: 50px auto 50px;
    }
}

/*****************MEDIDAS TABLET 768 PX********************/
@media (max-width: 768px) {
    html {
        overflow-x: hidden;
    }

    body {
        width: 100%;
    }
    header {
        background-position: center;
    }

    h1 {
        font-size: 1.6rem;
    }

    .bebidas img {
        width: 300px;
    }
    .contacto {
        width: 500px;
    }

    .footer-contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-redes {
        width: 60px;
    }
}

/*****************MEDIDAS TABLET 612 PX********************/
@media (max-width: 612px) {
    html {
        overflow-x: hidden;
    }

    body {
        width: 100%;
    }
    header {
        background-position: center;
    }

    h1 {
        font-size: 1.6rem;
    }

    .bebidas img {
        width: 200px;
    }
    .contacto {
        width: 350px;
    }

    .gmail-contacto {
        display: flex;
        font-size: 16px;
        gap: 10px;
    }

    .gmail-contacto img {
        width: 40px;
    }

    .gmail-contacto figcaption {
        margin-top: 5px;
    }

    .wpp-contacto {
        display: flex;
        font-size: 16px;
        gap: 10px;
    }

    .wpp-contacto img {
        width: 40px;
    }

    .wpp-contacto figcaption {
        margin-top: 10px;
    }
    /************FOOTER*************/
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer div {
        text-align: center;
    }

    .redes {
        padding: 20px;
        margin: 10px;
    }
}

/*****************MEDIDAS MOBILE 425 PX********************/

@media (max-width: 425px) {
    body {
        width: 100%;
    }

    header {
        background-position: center;
    }

    .bebidas img {
        width: 250px;
    }

    .contacto {
        width: 350px;
    }

    .gmail-contacto {
        display: flex;
        font-size: 16px;
        gap: 10px;
    }

    .gmail-contacto img {
        width: 40px;
    }

    .gmail-contacto figcaption {
        margin-top: 5px;
    }

    .wpp-contacto {
        display: flex;
        font-size: 16px;
        gap: 10px;
    }

    .wpp-contacto img {
        width: 40px;
    }

    .wpp-contacto figcaption {
        margin-top: 10px;
    }

    .footer-contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .redes {
        padding: 20px;
    }
}

@media (max-width: 366px) {
    .contacto {
        background-color: white;
        width: 300px;
        border-radius: 10px;
        text-align: center;
        padding: 5px;
    }

    .gmail-contacto {
        display: flex;
        font-size: 16px;
        gap: 10px;
    }

    .gmail-contacto img {
        width: 40px;
    }

    .gmail-contacto figcaption {
        margin-top: 5px;
    }

    .wpp-contacto {
        display: flex;
        font-size: 16px;
        gap: 10px;
    }

    .wpp-contacto img {
        width: 40px;
    }

    .wpp-contacto figcaption {
        margin-top: 10px;
    }
    /************FOOTER*************/
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer div {
        text-align: center;
    }

    .redes {
        padding: 20px;
        margin: 10px;
    }

    .img-redes {
        width: 60px;
    }
}

/*****************MEDIDAS MOBILE 320PX********************/
@media (max-width: 320px) {
    body {
        width: 100%;
    }
    /************header*************/

    header {
        width: 100%;
        background-position: center;
    }

    h1 {
        font-size: 1.3rem;
        text-align: center;
    }

    /************Galeria*************/
    .galeria-inicio {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .bebidas img {
        width: 250px;
    }

    p {
        text-align: center;
        margin-bottom: 0px;
    }
    /************CONTACTANOS*************/
    .contacto {
        background-color: white;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        margin-top: 50px;
        padding: 0px;
    }

    .gmail-contacto {
        display: flex;
        font-size: 16px;
        gap: 10px;
    }

    .gmail-contacto img {
        width: 40px;
    }

    .gmail-contacto figcaption {
        margin-top: 5px;
    }

    .wpp-contacto {
        display: flex;
        font-size: 16px;
        gap: 10px;
    }

    .wpp-contacto img {
        width: 40px;
    }

    .wpp-contacto figcaption {
        margin-top: 10px;
    }
    /************FOOTER*************/
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer div {
        text-align: center;
    }

    .redes {
        padding: 20px;
        margin: 10px;
    }

    .img-redes {
        width: 60px;
    }

    /*======================================*/
}
