@media (max-width: 1580px) {
    .recomendacion {
        width: 80%;
    }

    .card-recomendacion {
        img {
            width: 800px;
        }
    }
}

@media (max-width: 1024px) {
    .galeria-tragos {
        grid-template-columns: repeat(2, 45%);
        gap: 20px;
    }

    .recomendacion {
        width: 80%;
    }

    .card-recomendacion {
        img {
            width: 500px;
        }
    }
}

@media (max-width: 768px) {
    header {
        width: 100%;
        background-position: center;
    }

    .galeria-tragos {
        grid-template-columns: repeat(2, 45%);
        gap: 20px;
    }

    .contacto {
        width: 400px;
    }

    //sobre nosotros

    .sobre-nosotros {
        width: 600px;
    }

    .img-preparacion {
        figure img {
            width: 600px;
        }
    }
}

@media (max-width: 680px) {
    .galeria-tragos {
        grid-template-columns: repeat(1, 40%);
    }

    .conteiner {
        h1 {
            font-size: 1.1rem;
        }

        .galeria-inicio {
            @include dpflex(flex, column, none);
            flex-wrap: wrap;
            align-items: center;

            .bebidas {
                img {
                    width: 250px;
                }
            }
        }
    }

    .sobre-nosotros {
        width: 400px;
        font-size: 1.3rem;
    }

    .img-preparacion {
        figure img {
            width: 400px;
        }
    }

    footer .footer-contenido {
        @include dpflex(flex, column, center);

        div {
            text-align: center;
        }

        .redes {
            padding: 20px;
            margin: 10px;
        }
    }

    footer .img-btr {
        width: 200px;
        margin: 0 auto;
    }

    .recomendacion {
        width: 80%;
    }

    .card-recomendacion {
        img {
            width: 300px;
        }
    }
}

@media (max-width: 425px) {
    body {
        width: 100%;
    }

    header {
        width: 100%;
        background-position: center;
    }
    // card
    .galeria-tragos {
        grid-template-columns: repeat(1, 45%);
    }

    .conteiner {
        h1 {
            font-size: 1.1rem;
        }

        .galeria-inicio {
            @include dpflex(flex, column, none);
            flex-wrap: wrap;
            align-items: center;

            .bebidas {
                img {
                    width: 250px;
                }
            }
        }
    }

    .contacto {
        width: 380px;

        .gmail-contacto {
            display: flex;
            font-size: 16px;
            gap: 10px;

            img {
                width: 40px;
            }
        }
    }

    //sobre nosotros

    .sobre-nosotros {
        width: 350px;
        font-size: 1rem;
    }

    .img-preparacion {
        figure img {
            width: 350px;
        }
    }

    // footer
    .footer-contenido {
        @include dpflex(flex, column, center);

        div {
            text-align: center;
        }

        .redes {
            padding: 20px;
            margin: 10px;
        }
    }

    footer .img-btr {
        width: 200px;
        margin: 0 auto;
    }

    .recomendacion {
        width: 80%;
    }

    .card-recomendacion {
        img {
            width: 250px;
        }
        h2 {
            padding: 0px 10px;
        }
        p {
            @extend h2;
        }
        ul {
            ol {
                text-align: justify;
                padding: 0px 1px;
            }
        }
    }
}

@media (max-width: 366px) {
    html {
        overflow-x: hidden;
    }

    body {
        width: 100%;
    }

    header {
        background-position: center;
    }

    .contacto {
        width: 320px;
        text-align: center;
    }

    .conteiner {
        h1 {
            font-size: 1.1rem;
        }

        .galeria-inicio {
            @include dpflex(flex, column, none);
            flex-wrap: wrap;
            align-items: center;

            .bebidas {
                img {
                    width: 250px;
                }
            }
        }
    }

    .recomendacion {
        width: 90%;
    }

    .card-recomendacion {
        img {
            width: 250px;
        }
        h2 {
            padding: 0px 15px;
        }
        p {
            padding: 0px 15px;
        }
        ul {
            ol {
                text-align: left;
                padding: 0px 1px;
            }
        }
    }

    //sobre nosotros

    .sobre-nosotros {
        width: 300px;
        font-size: 1rem;
    }

    .img-preparacion {
        figure img {
            width: 300px;
        }
    }
    .footer-contenido {
        @include dpflex(flex, column, center);

        div {
            text-align: center;
        }

        .redes {
            padding: 20px;
            margin: 10px;
        }
    }

    footer .img-btr {
        width: 200px;
        margin: 0 auto;
    }
}

@media (max-width: 320px) {
    html {
        overflow-x: hidden;
    }
    body {
        width: 100%;
    }

    header {
        width: 100%;
        background-position: center;
    }

    .conteiner {
        h1 {
            font-size: 1.1rem;
        }

        .galeria-inicio {
            @include dpflex(flex, column, none);
            flex-wrap: wrap;
            align-items: center;

            .bebidas {
                img {
                    width: 250px;
                }
            }
        }
    }

    .contacto {
        width: 300px;

        .gmail-contacto {
            display: flex;
            font-size: 14px;
            gap: 10px;

            img {
                width: 40px;
                height: 40px;
            }
        }
    }

    .footer-contenido {
        @include dpflex(flex, column, center);

        div {
            text-align: center;
        }

        .redes {
            padding: 20px;
            margin: 10px;
        }
    }
    .recomendacion {
        width: 90%;
    }

    .card-recomendacion {
        img {
            width: 200px;
        }
    }
}
